@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>
        Jenkins Build Version : @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion
    </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
